.gridConteiner {
background-color: var(--cinza-claro);
display: grid;
height: 100vh;
grid-template-rows: 100px 1fr;
grid-template-areas: 
'cabecalho cabecalho'
'lateral conteudo';
transition: grid-template-columns 0.3s ease-in-out;
}

.gridAberto {
grid-template-columns: 1fr 5fr;
}

.gridFechado {
grid-template-columns: 0fr 1fr;
}

header {
grid-area: cabecalho;
height: 100px;
}

aside {
grid-area: lateral;
background-color: var(--branco-diferente);
position: relative; 
overflow: hidden; 
}

article {
grid-area: conteudo;
display: flex;
width: 100%;
height: 100%;
overflow-y: auto;
overflow-x: hidden;
}