.conteiner {
  align-self: flex-end;
  background-color: var(--azul-claro);
  color: white;
  padding: 12px 16px;
  border-radius: 16px;
  max-width: 70%;
  word-wrap: break-word;
  font-size: 16px;
  line-height: 25px;
}