.conteiner {
  align-self: flex-start;
  background-color: var(--azul-escuro);
  color: var(--branco-diferente);
  padding: 12px 16px;
  border-radius: 16px;
  margin-block: 5px;
  max-width: 70%;
  word-wrap: break-word;
  line-height: 25px;
  font-size: 16px;
}

strong{
  font-size: 17px;
  font-weight: bolder;
}
ul {
  margin-left: 10px; /* Ajuste o valor conforme necessário */
  padding-left: 10px; /* Padding também ajuda na indentação do bullet */
}

ol{
  margin-left: 10px; /* Ajuste o valor conforme necessário */
  padding-left: 10px; /* Padding também ajuda na indentação do bullet */
}

