:root{ 
    --azul-claro: #038FD8;
    --azul-escuro: #051628;
    --cinza-escuro: #051628;
    --branco-diferente: #F4F7F6;
    --cinza-claro: #D5D5D5;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' ,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
  
body, input, textarea, button {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

